*{
	box-sizing: border-box;
}
body{
	margin:0px;
}

/*FAQ styling*/
#FAQ{
	width: 50%;
}
#headingOne, #headingTwo, #headingThree{
	background-color: #343434;
	color: white;
}
 #headingOne a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
	}
 #headingTwo a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
	}

  #headingThree a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
	}

/* END FAQ styling*/

/* NAv Baar NEW*/
.nav ul li {
	display: inline-block;
	padding: 20px 10px;
	float: right;
}
/*nav bar color, position etc*/
.nav {
	background: #343434;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
/*setting up the font color for the nav bar text*/
.nav ul li a{
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;

}
/*highlighted the hover over text*/
.nav a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
}
/*adding a click reaction*/
.nav li:active { 
    background-color:rgba(0, 0, 0, 0.5);
    text-decoration: none;
    -webkit-transition: 200ms;
}

/*END NAV BAR*/
/*index.html*/

/*sets up hero image and centers its content*/
.jumbotron{
	background-image: url("../img/heroCF.jpg");
	background-size: cover;
	padding: 5% 0%;
	margin-bottom: 0%;

}

.jumbotron h1 {
	color: #fff;	
}

/*mission statement and description*/
.mission-statement {
	text-align: center;
	padding: 2%;
	background-image: black;
	background-size: cover;
	margin-bottom: 5%;
}
.mission-statement p{
	margin-top: 2%;
}

.container-mission{
  background-color: #f9f9f9;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
/*END index.html*/

/*sets up the columns ratio in about.html*/
.container{
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	padding-right: 0px;
    padding-left: 0px;
    padding-top: 2%;
	
}
.header h1{
	text-align: center;
	padding: 2%;
	background-color: #F5F5F5 ;
	margin-top: 0;
}
#current-year{
	padding-top: 50px;
}
.container p{
	text-align: left;
	margin: 10% 3%;

}

.column img{
	width: 50%;
	height: 50%;

}

.column{
	width: 30%;
	display: inline-block;
	vertical-align: middle;

}
.col-md-8{
	text-align: center;
	width: 100%;
	margin: 5% auto;
}

/*sets up an all screen background image in contact*/
#bg {
  position: fixed; 
  top: 60px; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/*tweaks positioning of the contact h1 text*/
#contact-h1{
	padding-bottom: 5%;
}
/*used to control the contact box that contains the contact info*/
.column{
	align: left;
}

/*glyphicon tweaks*/


.glyphicon-phone-alt{
	font-size: 1.5em;
	color: #343434;
	font-weight: 300;
}
.glyphicon-envelope{
	font-size: 1.5em;
	color: #343434;
	font-weight: 300;
}
.glyphicon-map-marker{
	font-size: 1.5em;
	color: #343434;
	font-weight: 300;
}

/*Glyphicon transition*/
.column span:hover{
 color: #F0E68C;
 text-decoration: none;
}


/*sets up a footer for the images legal explanation in about.html*/
footer{
    background-color: #333;
    overflow: hidden;
}
/*setups the alignment for the contact info area*/
#contact-info{
text-align: left  ;
width: 80%;
padding-left: 20%;
font-family: 'Open Sans', sans-serif;
letter-spacing: 0px;
color: #343434;
}

/*Typography*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1,
h2, 
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;

}}

p,
li {
	font-family: 'Open Sans', sans-serif;
}

.intro p{
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	-webkit-margin-before:0;
}
.intro {
	font-weight: 100;
}

.skill h3 {
	text-align: center;
	text-transform: uppercase;
}
.skill {
	background-color: #5AD4C2 ;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/*big text in hero image and contact*/
#hero-h1{
	font-size: 6em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
	width: 100%;
	padding-top: 10%;
	padding-top: 10%;
}
/*Hero text for the contact screen*/
#contact-h1{
	font-size: 6em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
	width: 100%;
	padding-top: 10%;
	padding-top: 10%;
	/*gradient background*/
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
#questions-h1 {
	font-size: 6em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
	width: 100%;
	padding-top: 13%;
	padding-bottom: 10%;
	background-color: green;
	/*gradient background*/
	background: #cb2d3e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.row-for-info{
	width: 100%
	background-color:black;
}
#organiser-adress{
	display: inline-block;
	width: 100%;
	background-color: #e6e6e6;
}

.col-md-6 a{
	color: #343434;
}
/*highlighted the hover over text*/
.col-md-6 a:hover{
	color: #fff;
	text-decoration: none;



/*gives colour to the footer's font on about.thml */
footer {
	color:#fff;
}

