*{
	box-sizing: border-box;
}

.container{
	width: 80%;
	margin: 0 auto;
}
.header h1{
	text-align: center;
}
.image{
	display: inline-block;
}
.image img{
	width: 100%;
}
.column{
	display: inline-block;
}
.image, .column{
	float: left;
}
.column{
	width: 30%;
	margin: 0% 1%;
	padding: 0% 2%;
}
.intro .column{
	padding: 0 20px;
}
.main-text {
	clear: both;
	padding-top: 60px;
	padding: top right bottom left;
}