@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	font-family: 'Open Sans', sans-serif;
}

.jumbotron{
	background-image: url("../img/heroCF.jpg");
	background-size: cover;
	text-align: center;
	padding: 5%;
	margin-bottom: 0%;

}
.jumbotron p {
	color: #fff;
}
.jumbotron h1 {
	color: #fff;
}


.mission-statement {
	text-align: center;
	padding: 5%;
	background-image: black;
	background-size: cover;
}

.container-mission{
	background-color: #f9f9f9;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}