*{
	box-sizing: border-box;
}
body{
	margin:0px;
}
/* NAv Baar*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/*END NAV BAR*/

/*index.html*/

/*sets up hero image and centers its content*/
.jumbotron{
	background-image: url("../img/heroCF.jpg");
	background-size: cover;
	padding: 5% 0%;
	margin-bottom: 0%;

}

.jumbotron h1 {
	color: #fff;	
}

/*mission statement and description*/
.mission-statement {
	text-align: center;
	padding: 2%;
	background-image: black;
	background-size: cover;
	margin-bottom: 5%;
}
.mission-statement p{
	margin-top: 2%;
}

.container-mission{
  background-color: #f9f9f9;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
/*END index.html*/

/*sets up the columns ratio in about.html*/
.container{
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	padding-right: 0px;
    padding-left: 0px;
	
}
.header h1{
	text-align: center;
	padding: 2%;
	background-color: #F5F5F5 ;
	margin-top: 0;
}
.container p{
	text-align: left;
	margin: 10% 3%;

}

.column img{
	width: 50%;
	height: 50%;

}

.column{
	width: 30%;
	display: inline-block;
	vertical-align: middle;

}
.col-md-8{
	text-align: center;
	width: 100%;
	margin: 5% auto;
}

/*sets up an all screen background image in contact*/
#bg {
  position: fixed; 
  top: 50px; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/*tweaks positioning of the contact h1 text*/
#contact-h1{
	padding: 5%;
}
/*sets up a footer for the images legal explanation in about.html*/
footer{
    background-color: #333;
    overflow: hidden;
}


/*Typography*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1,
h2, 
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;

}}

p,
li {
	font-family: 'Open Sans', sans-serif;
}

.intro p{
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	-webkit-margin-before:0;
}
.intro {
	font-weight: 100;
}

.skill h3 {
	text-align: center;
	text-transform: uppercase;
}
.skill {
	background-color: #5AD4C2 ;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/*big text in hero image and contact*/
#contact-h1{
	font-size: 6em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
}

#whitelink{
	color: #f2f2f2;
}
#tellink{
	color: #f2f2f2;
	font-weight: 300;
	letter-spacing:2px;
}

footer {
	color:#fff;
}
