*{
	box-sizing: border-box;
}
body{
	margin:0px;
}

/* NAv Baar NEW*/
.nav ul li {
	display: inline-block;
	padding: 20px 10px;
	float: left;
}
/*nav bar color, position etc*/
.nav {
	background: #343434;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
/*setting up the font color for the nav bar text*/
.nav ul li a{
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;

}
/*highlighted the hover over text*/
.nav a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
}
/*adding a click reaction*/
.nav li:active { 
    background-color:rgba(0, 0, 0, 0.5);
    text-decoration: none;
    -webkit-transition: 200ms;
}

/*END NAV BAR*/
/*index.html*/

/*carousel*/
#carousel-example-generic{
	margin-top:  -10%;
}

/*mission statement and description*/
#mission-statement {
	text-align: center;
	padding: 0% 5%;
	background-image: black;
	background-size: cover;
	margin-bottom: 3%;
	width: 100%;
	
}
#mission-statement p{
	padding-top: 1%;
}

#container-mission{
  padding: 2% 5%;
 
  text-align: center;
}
/*END index.html*/

/*sets up the columns ratio in about.html*/

.header h1{
	text-align: center;
	padding: 2%;
	background-color: #F5F5F5 ;
	margin-top: 0;
}
.current-year{
	text-align: center;
	background-color:#F5F5F5; 
	width: 100%;
	display: inline-block;
	margin-top: 5%;
	margin-bottom: 2%;
}
#img-about{
	width: 100%;

}
#text-about{
	padding-top: 5%;
}
#centered-description{
	text-align: right;
}



/*tweaks positioning of the contact h1 text*/
#contact-h1{
	padding-bottom: 5%;
}
/*used to control the contact box that contains the contact info*/



/*glyphicon tweaks*/


.glyphicon-phone-alt{
	font-size: 1.5em;
	color: #343434;
	font-weight: 300;
}
.glyphicon-envelope{
	font-size: 1.5em;
	color: #343434;
	font-weight: 300;
}
.glyphicon-map-marker{
	font-size: 1.5em;
	color: #343434;
	font-weight: 300;
}

/*Glyphicon transition*/
.column span:hover{
 color: #F0E68C;
 text-decoration: none;
}


/*sets up a footer for the images legal explanation in about.html*/
footer{
    background-color: #333;
    overflow: hidden;
}
/*setups the alignment for the contact info area*/
#contact-info{
text-align: left  ;
width: 80%;
padding-left: 20%;
font-family: 'Open Sans', sans-serif;
letter-spacing: 0px;
color: #343434;
}


/*FAQ styling*/

#questions-container{
	width: 100%;
	background-color: #fff; 

}

#FAQ{
	width: 100%;
	background-color: #F5F5F5;
	
}
#accordion{
	width: 100%;
	text-align: center;
}

#headingOne, #headingTwo, #headingThree{
	background-color: #343434;
	color: white;
}
 #headingOne a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
	}
 #headingTwo a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
	}

  #headingThree a:hover{
	color: #F0E68C;
	-webkit-transition: 600ms;
	text-decoration: none;
	}

/* END FAQ styling*/

.footer{
	background: #343434;
	position: fixed;
	width: 100%;
	bottom: 0;
	color: #fff;
}



/*Typography*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1,
h2, 
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;

}}

p,
li {
	font-family: 'Open Sans', sans-serif;
}

.intro p{
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	-webkit-margin-before:0;
}
.intro {
	font-weight: 100;
}

.skill h3 {
	text-align: center;
	text-transform: uppercase;
}
.skill {
	background-color: #5AD4C2 ;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/*big text in hero image and contact*/
#hero-h1{
	font-size: 6em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
	width: 100%;
	padding-bottom: 15%;
}
/*Hero text for the contact screen*/
#contact-h1{
	font-size: 6em;
	color: #151616;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
	width: 100%;
	padding-top: 13%;
	padding-bottom: 10%;

}
#questions-h1 {
	font-size: 6em;
	color: #151616;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 7px;
	width: 100%;
	padding-top: 13%;
	padding-bottom: 10%;
}
.row-for-info{
	width: 100%
	background-color:black;
}
#organiser-adress{
	width: 100%;
	background-color: #e6e6e6;
	display: inline-block;
	text-align: center;
}
#frame-adress{
	padding:0% 15%;
}
.adress-align-left{
	text-align: left;
	padding: 0% 20%;
}

#contact-column a{
	color: #343434;
}
/*highlighted the hover over text*/
#contact-column a:hover{
	color: #fff;
	text-decoration: none;



/*gives colour to the footer's font on about.thml */



